.block_row{
  @include laptop{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .block_line{
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: self-start;
    @include laptop{
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
    .block{
      @include laptop{
        margin: 20px;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 300px;
      width: 100%;
      border: 2px solid #384967;
      img{
        object-fit: cover;
        width: 100%;
      }
      .block_title{
        font-size: 23px;
        font-weight: 800;
        padding: 20px 0 0;
        text-transform: uppercase;
      }
      .block_subtitle{
        padding: 20px;
        line-height: 20px;
      }
    }
  }
}