
.contact{
  padding: 25px 0 10px;
  display: flex;
  justify-content: space-between;
  .vid{
    video{
      max-width: 650px;
      width: 100%;
    }
  }
  .txt_info{
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    font-weight: 500;
    //width: 100%;
    .contact__row{
      //max-width: 330px;
      //width: 100%;
      margin: 20px auto;
      display: flex;
      justify-content: space-between;
      border-radius: 25px;
      background-color: #daded9;
      padding: 25px;
      img{
        width: 40px;
        padding-right: 10px;
      }
      .contact__txt{
        font-size: 25px;
        line-height: 35px;
        color: #101820;
      }
    }
  }
}

.map__title{
  font-size: 25px;
  font-weight: 500;
  align-items: center;
  max-width: 200px;
  width: 100%;
  margin: 10px auto;
}

.map{
  width: 100%;
  margin: 0 auto;
  height: 200px;
  iframe{
    width: 100%;
    height: 100%;
  }
}
.abon{
  .title{
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
  }
  .button{
    margin: 20px auto;
  }
}