.way {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 20px 50px;
  @include laptop{
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  img{
    @include mobile-M{
      width: 300px;
    }
  }
  .way__txt {
    padding: 0 50px;
    @include laptop{
      padding: 20px 0;
    }
    .txt__title{
      @include laptop{
        text-align: center;
      }
    }
    .txt__description {
      padding: 10px 0 0;
      line-height: 23px;
      letter-spacing: 0.6px;
    }
  }
}

.plus5__title {
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  @include laptop{
    text-align: center;
  }
}

.plus5 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @include laptop{
    flex-direction: column;
    align-items: center;
  }
  .plus5__card {
    max-width: 350px;
    width: 100%;

    .plus5__card_title {
      font-weight: 500;
      font-size: 20px;
      text-transform: uppercase;
      padding: 20px 0;
      @include laptop{
        text-align: center;
      }
    }

    .plus5__card_description {
      line-height: 20px;
      letter-spacing: 1px;
      width: 100%;
      padding: 0 0 20px;
    }
  }
}