.way {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 50px 50px;

  .way__txt {
    padding: 0 50px;

    .txt__description {
      padding: 10px 0 0;
      line-height: 25px;
      letter-spacing: 0.6px;
    }
  }
}

.plus5__title {
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.plus5 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .plus5__card {
    max-width: 350px;
    width: 100%;

    .plus5__card_title {
      font-weight: 500;
      font-size: 20px;
      text-transform: uppercase;
      padding: 20px 0;
    }

    .plus5__card_description {
      line-height: 20px;
      letter-spacing: 1px;
      width: 100%;
      padding: 0 0 20px;
    }
  }
}