@import "mixins.scss";
@import "normalize.scss";
@import "colors.scss";
@import "scrollBar.scss";

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: $dark-blue;
  font-family: 'Montserrat', sans-serif;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  color: $white;
  @include laptop-M{
    max-width: calc(100% - 60px);
  }
}

main{
  padding: 70px 0 0;
  font-style: italic;
}

.button{
  width: 200px;
  font-size: 20px;
  line-height: 50px;
  font-weight: 700;
  background-color: $white;
  text-align: center;
  border-radius: 7px;
  color: $dark;
  cursor: pointer;
}
.line{
  width: 100px;
  border-radius: 5px;
  border: 1px solid $green;
  background-color: $green;
}
.title{
  @include laptop {
  font-size: 35px;
  }
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 1px;
  color: $white;
  width: 100%;
  text-transform: uppercase;
}
.description{
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  line-height: 25px;
  font-style: normal;
}
@import "header.scss";
@import "main.scss";
@import "page2.scss";
@import "page3.scss";
@import "page4.scss";
@import "footer.scss";
